body {
  margin: 0;
  padding: 0;
  background: $white;
  color: $blue;
  font-family: $pfont;
}

h1, h2, h3 {
  font-family: $head-font;
}

label {
  input{
    display: inline-block;
  }
}

/* h1 {
  font-family: 'aladdin', sans-serif;
  font-size: 15em;
  text-align: center;
} */


  span{
    width: 45%;
    display: block;
    font-family: $pfont;
    font-size: 1.3em;
    display: inline-block;
  }

///RESULTS PAGE
.options {
  display: flex;
  justify-content: center;
}

.results {
  border: 5px double $brown;
  border-radius: 5px;
  margin: 30px;
  width:300px;
  height: 500px;
  opacity: 0.75;
  cursor: pointer;
  img {
    width:100%;
  }
  h3 {
    padding: 20px;
    font-family: $head-font;
  }
  &:hover {
    opacity:1;
    @include transition(all 1s ease);
  }
}
