@font-face {
  font-family: 'aladdin';
  src: url(../aladdin.ttf); }

body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  color: #566873;
  font-family: "futura-pt-condensed", sans-serif; }

label input {
  display: inline-block; }

h1 {
  font-family: 'aladdin', sans-serif;
  font-size: 15em;
  text-align: center; }

.meat span {
  display: block; }

.produce span {
  display: block; }

.type span {
  display: block; }
