body {
  margin: 0;
  padding: 0;
  background: $white;
  color: $blue;
  font-family: $pfont;
}

label {
  input{
    display: inline-block;
  }
}

h1 {
  font-family: 'aladdin', sans-serif;
  font-size: 15em;
  text-align: center;
}

.meat {

  span{
    display: block;
  }
}
.produce {

  span{
    display: block;
  }
}
.type {

  span{
    display: block;
  }
}
