@font-face {
  font-family: 'aladdin';
  src: url(../aladdin.ttf); }

body {
  margin: 0;
  padding: 0; }

h1 {
  font-family: 'aladdin', sans-serif; }

  padding: 0;
  background: #f2f2f2;
  color: #566873;
  font-family: "futura-pt-condensed", sans-serif; }

label input {
  display: inline-block; }
